@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Top 20 Products</h2>

<ol>
    @foreach (var m in Model)
    {
    <li>
        <a asp-controller="Products" asp-action="Details" asp-route-id="@m.ProductId"><span class="ml-4">@m.Title</span></a>
    </li>
    }
</ol>